name: Build workflow

on:
  push:
  pull_request:

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install latest LTS version of Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          check-latest: true
      - name: Clean install
        run: npm ci
      - name: Build scripts
        run: npm run build
      - name: Run tests
        run: npm run test
